@charset "utf-8";

/* 심슨 가족 애니메이션 코드 : simpson_ani.css */

/* 
    [트랜스폼 사용법]
    ((y축 회전))
    transform: rotateY(각도deg)
    -> 같은셋팅
    rotate: y 각도deg
*/

/* 1-1. 문에 애니메이션 호출적용 */
.door{
    /* 애니메이션 - animation:이시이지반방마 */
    /* animation: door-ani 1s ease-in-out 1s 3 alternate forwards; */
    animation: door-ani 2s ease-in-out;
    /* 
        alternate는 from->to 경로 애니를 반대방향도 진행해주는 옵션값임
        forwards는 애니가 끝나면 처음 값으로 돌아가는 기본 값(backwards)이 아닌,
        끝나는 값으로 유지하게 하는 옵션
    */
}

/* 1-2. 문 열기 애니 키프레임 */
@keyframes door-ani {
    0%{
        rotate: y 0deg;
    }
    30%{
        rotate: y 130deg;
    }
    70%{
        rotate: y 130deg;
    }
    100%{
        rotate: y 0deg;
    }
}

/* 2-1. 심슨 애니 호출 설정 */
.heartsping{
    /* 애니메이션 - animation: 이시이지반방마 */
    animation: heartsping-ani 5s .5s forwards;
}

/* 2. 하츄핑 걸어나오기 키프레임 */
@keyframes heartsping-ani {
    0%{
        top: 347px;
        left: 574px;
        width: 60px;
    }
    5%{
        top: 357px;
        left: 556px;
        width: 65px;
        /* 문보다 위 */
        z-index: 1;}
    10%{
        top: 367px;
        left: 480px;
        width: 65px;
        rotate: 0deg;
        /* 문보다 위 */
        z-index: 1;
    }
    20%{
        top: 350px;
        left: 455px;
        width: 80px;
        rotate: -10deg;
        /* 문보다 위 */
        z-index: 1;
    }
    30%{
        top: 336px;
        left: 388px;
        width: 90px;
        rotate: 2deg;
        /* 문보다 위 */
        z-index: 1;
    }
    50%{
        top: 336px;
        left: 357px;
        width: 100px;
        rotate: -9deg;
        /* 문보다 위 */
        z-index: 1;
    }
    60%{
        top: 300px;
        left: 363px;
        width: 130px;
        rotate: 5deg;
        /* 문보다 위 */
        z-index: 1;
    }
    70%{
        top: 280px;
        left: 320px;
        width: 150px;
        rotate: -5deg;
        /* 문보다 위 */
        z-index: 1;
    }
    90%{
        top: 250px;
        left: 300px;
        width: 180px;
        rotate: 5deg;
        /* 문보다 위 */
        z-index: 1;
    }
    100%{
        top: 150px;
        left: 230px;
        width: 330px;
        rotate: 0deg;
        /* 문보다 위 */
        z-index: 1;
    }
}

/* 2.5-1. 말풍선 등장 애니메이션 호출설정 */
.words{
    /* 애니메이션 animation: 이시이지반방마 */
    animation: words-ani .5s ease-out 5.5s forwards;
}

/* 2.5-2. 말풍성 키프레임 */
@keyframes words-ani {
    to{
        opacity: 1;
    }
}

/* 3-1. 로미 애니메이션 호출설정 */
.romi{
    /* 애니메이션 - animation:이시이지반방마 */
    animation: romi-ani .8s ease-out 5.5s forwards;
}
/* 3-2. 로미 애니 키프레임 */
@keyframes romi-ani {
    /* form 혹은 0%는 설정이 원본셋팅과 같다면
    생략할 수 있다! */
    /* to 혹은 100% 셋팅만 설정 */
    to{
        right: 10px;
        rotate: -16deg;
    }
}

/* 4-1. 해핑 */
.hp{
    /* 애니메이션 - animation: 이시이지반방마 */
    animation: hp-ani .8s ease-out 6s forwards;
}
/* 4-1. 해핑 애니 키프레임 */
@keyframes hp-ani {
    to{
        left: 30px;
        top: 128px;
    }
}

/* 5-1. 믿어핑 */
.be{
    /* 애니메이션 - animation: 이시이지반방마 */
    animation: 
    /* 등장애니 */
    be-ani .8s ease-out 6.5s forwards,
    /* 업다운애니 */
    be-updown-ani .5s ease-in-out 7.3s infinite alternate,
    /* 좌우애니 */
    be-comego-ani 5s ease-in-out 12s infinite alternate;
}

/* 5-2-1. 믿어핑 애니 키프레임 : 등장 */
@keyframes be-ani {
    to{
        bottom: 0px;
    }
}
/* 5-2-2. 믿어핑 애니 키프레임 : 업다운 */
@keyframes be-updown-ani {
    to{
        translate: 0 5%;
    }
}
/* 5-2-3. 믿어핑 애니 키프레임 : 좌우 */
@keyframes be-comego-ani {
    to{
        left: 630px;
    }
}

/* 6-1. 트러핑 애니메이션 설정하기 */
.tr{
    /* 애니메이션 - animation: 이시이지반방마 */
    animation:
    /* 트러핑 등장 */
    tr-ani .7s ease-out 7s forwards,
    /* 트러핑 떨어짐 */
    tr-falling-ani .5s ease-out 10s forwards,
    /* 트러핑 올라옴 */
    tr-up-ani 1s ease-out 12s forwards,
    /* 트러핑 왼쪽으로 감 */
    tr-left-ani 2s ease-out 14s forwards,
    /* 트러핑 위로 감 */
    tr-top-ani 2s ease-out 16s forwards;
}

/* 6-2-1. 트러핑 애니 키프레임 : 등장 */
@keyframes tr-ani {
    to{
       top: -40px;
       right: 40px;
    }
        
}

/* 6-2-2. 트러핑 애니 키프레임 : 떨어짐 */
@keyframes tr-falling-ani {
    to{
        top: 458px;
        rotate: -36deg;
    }
}

/* 6-2-3. 트러핑 애니 키프레임 : 올라옴 */
@keyframes tr-up-ani {
    to{
    top: 285px;
    right: 171px;
    rotate: 0deg;
    scale: 1.2;
    }
}

/* 6-2-4. 트러핑 애니 키프레임 : 좌측 이동 */
@keyframes tr-left-ani {
    to{
    top: 285px;
    right: 640px;
    rotate: 1.25turn;
    scale: 1.2;
    }
}
/* 6-2-5. 트러핑 애니 키프레임 : 위로 이동 */
@keyframes tr-top-ani {
    to{
    top: -40px;
    right: 600px;
    rotate: 2.5turn;
    scale: 1.2;
    }
}