@charset "utf-8";
/* 심슨 가족 인사 애니메이션 CSS - simpson.css */

@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap');

html,body{
    /* 높이값을 보이는 화면에 맞춤 */
    height: 100%;
}

body{
    /* padding-top: 46px; */
    /* 배경이미지 넣기 - 이미지 중앙, 높이는 모두 나옴 */
    background: #000 url(../images/oldTVON.png) no-repeat center/auto 100%;
}
/* 타이틀 */
.tit{
    position: absolute;
    bottom: 10%;
    left: 50%;
    translate: -50%;
    font-family: 'Black And White Picture', sans-serif;
    font-size: 50px;
    color: #fff;
    white-space: nowrap;
    font-weight: normal;
}

/* 전체박스 */
.house{
    position: absolute;
    /* 부모자격 - 하위 앱솔루트 요소들의 */
    top: 50%;
    /* 가로방향 중앙이동 */
    left: 50%;
    translate: -47% -80%;

    width: 800px;
    height: 441px;
    /* margin: 0 auto; */

    /* 배경이미지 */
    background: url(../images/house.png) no-repeat;

    /* 문(.door)을 원근 입체로 보이게 하기 위해
    부모 요소인 .house에 원근 설정을 한다!
        perspective: 수치값;
        -> 수치값의 의미는 기준축으로부터 소실점까지의 거리!
        -> 이 값이 어떤 기준 수치 값보다 작으면 원근이 심해진다 */
    perspective: 480px;

    /* 넘치는 자식요소 숨기기 */
    overflow: hidden;
}

/* 임시로 숨기기 */
/* .maggie ~ * {
    display: none;
} */

/* 1. 심슨 */
.simpson{
    position: absolute;
    top: 300px;
    left: 355px;
    /* 부모는? .house */
    width: 33px;
}

/* 2. 문 */
.door{
    position: absolute;
    top: 286px;
    left: 357px;
    /* 부모는? .house */

    /* 문 회전축 오른쪽으로 변경 */
    transform-origin: right;
    /* 문 y축 회전 테스트 */
    /* rotate: y 130deg; */
}

/* 말풍선 */
.words{
    /* 앱솔루트 poa */
    position: absolute;
    top: 10px;
    left: 165px;
    /* 부모는? .house */

    /* 트랜스폼 스케일로 축소 */
    /* scale: .9; */
    transform: scale(.9);

    /* 박스설정 */
    background-color: #fff;
    padding: 30px;
    border-radius: 50%;
    text-align: center;
    border: 10px solid #883e5d;

    /* 글자설정
    font:스두크/줄체->크(기)체(글자체) 필수*/
    font: 15px/1.7 verdana;
    
    /* 처음에 투명하게 처리 op0 */
    opacity: 0;

}

/* 말풍선 삼각형 가상요소로 만들기 */
.words::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;

     /* 트랜스폼으로 위치 이동 및 회전 */
    translate: 0px 6px;
    /* translate: x축이동 y축이동 */
    rotate: -40deg;
    /* rotate: 각도deg */

    /* 보더로 삼각형 만들기
    -> 가로 세로는 모두 0
    -> 위 or 아래 보더 주기
    -> 양쪽 보더는 투명색 설정(transparent) */
    width: 0;
    height: 0;
    border-top: 33px solid #883e5d;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
}
/* 말풍선 삼각형 안쪽 흰색처리 */
.words::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;

     /* 트랜스폼으로 위치 이동 및 회전 */
    translate: -9px -5px;
    /* translate: x축이동 y축이동 */
    rotate: -40deg;
    /* rotate: 각도deg */

    /* 보더로 삼각형 만들기
    -> 가로 세로는 모두 0
    -> 위 or 아래 보더 주기
    -> 양쪽 보더는 투명색 설정(transparent) */
    width: 0;
    height: 0;
    border-top: 33px solid #ffffff;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
}

/* 3. 마지심슨 */
.marge{
    position: absolute;
    bottom: -188px;
    right: -300px/* -212px */;
    width: 400px;
    transform-origin: bottom;
    rotate: 0deg/* -16deg */;
}

/* 4. 리사 */
.lisa{
    position: absolute;
    top: 50px;
    left: -234px;
    width: 170px;
    rotate: 90deg;
}

/* 5. 메기 */
.maggie{
    position: absolute;
    bottom: -230px;/* -55px; */
    left: 77px;
    width: 165px;
}

/* 6. 바트 */
.bart{
    position: absolute;
    top: -320px;/* -115px; */
    right: 140px;
    width: 200px;

    /* 거꾸로 돌리기 */
    rotate: 180deg;
}

/* 7. tv */
#tv{
    position: absolute;
    top: 50%;
    left: 55%;
    translate: -50% -74%;
    width: 1050px;
}